.map-container {
  width: 45vw;
  height: 45vw;
  min-width: 320px;
  min-height: 320px;
}


@media (max-width: 1278px) {
  .map-container {
    width: 70vw;
    height: 70vw;
  }
}

@media (max-width: 767.98px) {
  .map-container {
    width: 85vw;
    height: 85vw;
  }

  .mapboxgl-control-container {
    display: none;
  }
}



.mapboxgl-popup-content {
  border-radius: 10px !important;
  background: linear-gradient(white, var(--shell)) !important;
  /* border: 1px solid rgba(0, 0, 0, 0.5); */
}

.mapboxgl-popup-tip {
  border-top-color: var(--shell) !important;
}

.mapboxgl-popup-close-button {
  font-size: large;
  width: 30px;
  height: 30px;
}

.map-popup-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.popup-title {
  margin-top: 10px;
}

.popup-directions-button {
  border-radius: 10px !important;
  /* height: 30px; */
  /* text-align: center; */
}