h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
}

.dropdown-parent {
  width: 90%;
  margin: 0.75em;
  align-items: start;
  justify-items: start;
  /* max-height: 400px;
  overflow-y: auto; */
  /* padding: 0.5em; */
}


.dropdown-header {
  /* width: 100%; */
  padding: 0.5em;
  /* display: flex; */
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
  /* flex-direction: row; */
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: 1px solid gray;
  border-radius: 10px 10px 0 0;

}

.search-items {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.dropdown-content-container {
  max-height: 50vh;
  overflow-y: auto;
  /* border: 2px solid black; */
  text-align: center;
}


.dropdown-arrow {
  grid-column: 3;
  width: 30px;
  height: 30px;
  /* justify-self: flex-end; */
  cursor: pointer;
  transition: 0.2s ease-in;
}

.dropdown-arrow.open {
  transform: rotateZ(180deg);
}

.filter-icon {
  grid-column: 2;
  width: 25px;
  height: 25px;
  cursor: pointer;
  
}

.search-items>input[type="text"] {
  border: none;
  height: 100%;
  margin-right: 5px;
}

.location-container {
  width: 100%;
  height: fit-content;
  border: 1px solid black;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 1fr 1fr;
  margin-top: 10px;
}

.directions-button, .info-button {
  /* height: 50%; */
  margin: 10px;
}